#landing-content {
    background-color: $gray-color;
    color: white;
    img {
        border-radius: 1%;
        padding: 1rem;
        width: 100%;
    }
    div.column.is-5 {
        // position: absolute;
        // left: 50%;
        // bottom: 25%;
        h1 {
            font-weight: 500;
            font-size: 1.6rem;
            text-transform: uppercase;
        }
        p {
            font-size: 0.8rem;
            padding-top: 1rem;
        }
    }
}
#landing-hairs {
    background-color: #BEBEBE;
    .card {
        background-color: transparent;
        box-shadow: none;
        .card-content {
            padding: 1rem;
            div {
                h1, h2 {
                    color: white;
                }
                h1 {
                    font-size: 1rem;
                    text-transform: uppercase;
                    border-radius: 5%;
                    background-color: $gold-color;
                    padding: 5px;
                    width: 70%;
                    margin: 0 auto;
                }
                h2 {
                    font-size: 2rem;
                    margin-top: 1rem;
                }
            }
        }
        .card-image {
            img {
                padding: .4rem;
                border-radius: .75rem;
            }
        }
    }
}
#landing-offers {
    padding: 3rem 1rem;
    background-color: $black-color;
    color: white;
    h1 {
      text-align: center;  
      font-size: 2.5rem;
      padding-bottom: 1.5rem;
    }
    p {
        color: white;
        &.heading {
            text-transform: capitalize; 
            font-size: 1rem;
        }
        &.title {
            font-size: 1.5rem;
        }
    }
    img {
        max-width: 5rem;
        max-height: 5rem;
        padding-bottom: 1rem;
    }
}
#landing-welcome {
    padding: 3rem 1rem;
    background-color: white;
    text-align: center;
    h1 {
        font-size: 2.5rem;
        color: $gold-color;
    }
}
#landing-sm {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: $gray-color;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    h1 {
        padding-right: 1rem;
    }
    a {
        color: $gray-color;
        background-color: $gold-color;
        min-width: 2.5rem;
        border-radius: 50%;
        margin-right: .75rem;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}
#footer {
    background-color: $black-color;
    color: white;
    text-align: center;
    h1 {
        color: $gold-color;
        font-size: 1.3rem;
        padding-bottom: .75rem;
    }
    p {
        font-size: 1rem;
    }
    h3 {
        padding-bottom: 2rem;
    }
    hr {
        border: 1px solid $gray-color;
    }
    .columns {
        .column {
            padding: 2rem 2rem;
        }
    }
}