@import 'variables';
@import 'mixins';
@import 'landing';

html, body {
    width: 100%;
    font-family: 'Dosis', sans-serif;
}
html {
    font-size: 18px;
}
body {
    background-image: url("../images/fancy-cushion.png");
    h1 {
        font-family: 'Open Sans', sans-serif;
    }
}

.hero {
    background-color: $black-color;
}
.navbar {
    background-color: $gray-color;
    .navbar-burger {
        color: $gold-color;
    }
    .navbar-menu {
        padding-top: 1rem;
        padding-bottom: 0rem;
        background-color: $gray-color;
        @include breakpoint(md) {
            display: flex;
            justify-content: center;
            margin: 0 auto !important;
        }
        .navbar-item {
            color: white;
            background-color: $gray-color;
            border-right: 1px solid #494848;
            &:hover {
                color: $gold-color;
                @include transition (all, 0.7s, ease)
            }
            &:last-of-type {
                border-right: none;
            }
        }
    }
    .current {
        color: $gold-color !important;
    }
}
.section {
    border-radius: 50%;
    @include breakpoint(xs){
        padding: 0.8rem;
    }
    @include breakpoint(sm){
        padding: 0.8rem;
    }
}
#footer {
    background-color: $black-color;
    color: white;
    text-align: center;
    h1 {
        color: $gold-color;
        font-size: 1.3rem;
        padding-bottom: .75rem;
    }
    p {
        font-size: 1rem;
    }
    h3 {
        padding-bottom: 1rem;
    }
    hr {
        border: 1px solid $gray-color;
        margin-bottom: 1rem;
    }
    .columns {
        .column {
            padding-top: 2rem;
            padding-bottom: .75rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}