#landing-content {
  background-color: #535353;
  color: white; }
  #landing-content img {
    border-radius: 1%;
    padding: 1rem;
    width: 100%; }
  #landing-content div.column.is-5 h1 {
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase; }
  #landing-content div.column.is-5 p {
    font-size: 0.8rem;
    padding-top: 1rem; }

#landing-hairs {
  background-color: #BEBEBE; }
  #landing-hairs .card {
    background-color: transparent;
    box-shadow: none; }
    #landing-hairs .card .card-content {
      padding: 1rem; }
      #landing-hairs .card .card-content div h1, #landing-hairs .card .card-content div h2 {
        color: white; }
      #landing-hairs .card .card-content div h1 {
        font-size: 1rem;
        text-transform: uppercase;
        border-radius: 5%;
        background-color: #DCB879;
        padding: 5px;
        width: 70%;
        margin: 0 auto; }
      #landing-hairs .card .card-content div h2 {
        font-size: 2rem;
        margin-top: 1rem; }
    #landing-hairs .card .card-image img {
      padding: .4rem;
      border-radius: .75rem; }

#landing-offers {
  padding: 3rem 1rem;
  background-color: #333333;
  color: white; }
  #landing-offers h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1.5rem; }
  #landing-offers p {
    color: white; }
    #landing-offers p.heading {
      text-transform: capitalize;
      font-size: 1rem; }
    #landing-offers p.title {
      font-size: 1.5rem; }
  #landing-offers img {
    max-width: 5rem;
    max-height: 5rem;
    padding-bottom: 1rem; }

#landing-welcome {
  padding: 3rem 1rem;
  background-color: white;
  text-align: center; }
  #landing-welcome h1 {
    font-size: 2.5rem;
    color: #DCB879; }

#landing-sm {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
  background-color: #535353;
  font-size: 1.7rem;
  color: white;
  text-align: center; }
  #landing-sm h1 {
    padding-right: 1rem; }
  #landing-sm a {
    color: #535353;
    background-color: #DCB879;
    min-width: 2.5rem;
    border-radius: 50%;
    margin-right: .75rem;
    text-decoration: none; }
    #landing-sm a:hover {
      text-decoration: none; }
  @media (max-width: 767px) {
    #landing-sm {
      display: block; } }

#footer {
  background-color: #333333;
  color: white;
  text-align: center; }
  #footer h1 {
    color: #DCB879;
    font-size: 1.3rem;
    padding-bottom: .75rem; }
  #footer p {
    font-size: 1rem; }
  #footer h3 {
    padding-bottom: 2rem; }
  #footer hr {
    border: 1px solid #535353; }
  #footer .columns .column {
    padding: 2rem 2rem; }

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw; }

.hero {
  background-color: #333333; }

.navbar {
  background-color: #535353; }
  .navbar .navbar-burger {
    color: #DCB879; }
  .navbar .navbar-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #535353; }
    @media (min-width: 1216px) {
      .navbar .navbar-menu {
        margin: 0 38% !important; } }
    .navbar .navbar-menu .navbar-item {
      color: white;
      background-color: #535353;
      border-right: 1px solid #494848; }
      .navbar .navbar-menu .navbar-item:hover {
        color: #DCB879;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease; }
      .navbar .navbar-menu .navbar-item:last-of-type {
        border-right: none; }
  .navbar .current {
    color: #DCB879 !important; }

@media (max-width: 767px) {
  .section {
    padding: 0rem; } }
@media (min-width: 768px) {
  .section {
    padding: 0.3rem; } }

/*# sourceMappingURL=styles.css.map */
